.card mb-3{
    padding: 5px;
    margin: 5px;
}
.heart{color: red;}


#detail-card {
    margin-top: 40px;
    width: 60%;
    margin: 30px auto;
    box-shadow: 0px 0px 5px 1px #E0E3E8;
    border-radius: none;
    padding: 10px 0px;
}

#btn-login {
    padding: 5px;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 0px;
    width: calc(100% - 10px);

}

#detail-img {
    margin-left: 10px;
   width: calc(100% - 10px);
   border-radius: 5px;
}
.next-show{
    background-color: #E5F7FD;
    padding: 5px;
    margin: 30px auto;
    width: 60%;
    box-shadow:0px 0px 5px 1px#c9dee6 ;
}
.card-title{
    font-weight:bolder ;
}
.fw-semibold{
    border-bottom: 1px solid;
    box-shadow: 0px 0px 2px 1px #E0E3E8;
    background-color: #F6F6F6;
    padding: 5px;
}

.episode-main{
 margin: 30px auto;
    padding: 10px 0px;
    background-color: #FFFFFF;
     height: 220px;
    width: 60%;
    margin-top: 40px;
    margin-left: 375px;
    box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.315);
}
.episode-detail{
    padding: 10px;
}