.card mb-3 {
  padding: 5px;
  margin: 5px;
}
.heart {
  color: red;
}

#detail-card {
  margin-top: 40px;
  width: 60%;
  margin: 30px auto;
  box-shadow: 0px 0px 5px 1px #e0e3e8;
  border-radius: none;
  padding: 10px 0px;
}

#btn-login {
  padding: 5px;
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 0px;
  width: calc(100% - 10px);
}

#detail-img {
  margin-left: 10px;
  width: calc(100% - 10px);
  border-radius: 5px;
}
.next-show {
  background-color: #e5f7fd;
  padding: 5px;
  margin: 30px auto;
  width: 60%;
  box-shadow: 0px 0px 5px 1px#c9dee6;
}
.card-title {
  font-weight: bolder;
}
.fw-semibold {
  border-bottom: 1px solid;
  box-shadow: 0px 0px 2px 1px #e0e3e8;
  background-color: #f6f6f6;
  padding: 5px;
}

.episode-main {
  margin: 30px auto;
  padding: 10px 0px;
  background-color: #ffffff;
  height: 220px;
  width: 60%;
  margin-top: 40px;
  margin-left: 380px;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.089);
}
.episode-detail {
  padding: 10px;
}
a {
  color: black;
  text-decoration: none;
}

.link {
  padding: 2px 10px;
  background: rgba(228, 230, 233, 0.13);
  color: black(231, 218, 218);
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.link:hover {
  border: dotted;
}

.details-head {
  position: relative;
}

.heart {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  font-size: 1.5rem;
  font-weight: bold;

  border-radius: 0 0 0 10px;
}
